/*przyciski ---------------------------*/

button {
    margin: 0;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-color {
    margin-top: 10px;
    padding: 10px 15px;
    background: #5088e0;
    color: #fff;
}

.btn-color:hover {
    background: #71a7fc;
}


/*kolory ---------------------------*/

.red {
    color:#ffb6b6;
}

.red:hover {
    color:#ccc;
}

.dark-red {
    color: #c44242;
}

.white {
    color:#fff;
}

.white:hover {
    color: #ccc;
}

.gray {
    color: #888;
}

.black {
    color: #333;
}

/*tekst ---------------------------*/

h1,h2,h3 {
    font-family: 'Montserrat';
}

p {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

.semi-bold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

.icon {
    width: 16px;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.75em;
}

/*ikony -----------------------------*/

.btn-icon {
    filter: grayscale(0.8);
    padding: 0;
    margin: 0 2px;
}

.btn-icon:hover {
    filter: grayscale(0);
}


/*formularze -----------------------------*/

.comment-field {
    height: 100px;
}

.form-field {
    margin-bottom: 10px;    
    display: flex;
    flex-direction: column;
    resize: none;
    border: 1px solid #aaa;
    padding: 5px;
    background: #fff;
    width: 100%;
}

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #333;
    /*    border: 1px solid #aaa;*/
    padding: 10px;
}

.form div {
    width: 100%;
/*    display: flex;*/
}

.captcha {
    display: block;
    margin: 5px auto;
}


.form div ul, .form div li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form div li {
    color: #c44242;
    font-size: 12px;
}

.form div ul {
    display: table;
}

.form-field-wrapper {
    display: flex;
    justify-content: space-between;
}

.date-field {
    default: 14;
}

.username-field {
    placeholder: "aa";
}

.form-login {
    width: 300px;
    position: absolute;
    margin-top: 40vh;
    transform: translate(-50%, -50%);
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*RADIO BUTTON ----------------------------------------*/

.container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background: #5088e0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
}

.radio {
    display: flex;
}

.radio label {
    margin-right: 20px;
}