* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

a {
    font-size: 0.75em;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: #333;
}


/*Naglowek ---------------------------*/

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1;

    width: 100%;
    padding: 5px 15px;
    
    background: #5088e0;
    color: #333;
    
}

header div {
    display: flex;
}


/*Glowny container ---------------------------*/

main {
    display: flex;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;    
    margin: 50px auto;
}


/*Elementy list ---------------------------*/

.list-item {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #f3f3f3;
    line-height: 1;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.spending * {
    display: inline;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top div {
    display: flex;
}

.top div p {
    margin-right: 5px;
}

.comment {
    color: #666;
    font-family: 'Source serif pro';
}

.registration {
    width: 300px;
    margin: auto;
    background: orange;
}

.date {
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.category {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #295271;
}

.cost {
    font-family: 'Montserrat';
    font-weight: 800;
    margin: 5px 0;
}

.user {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #333;
}

.sum {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    font-family: "Montserrat";
    margin-top: 10px;
    text-align: center;
}