{% load staticfiles %}
<html>
    <head>
        <title>Home Budget</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/elements.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Source+Serif+Pro" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    </head>


    
    <body>
        <header>
            <div>
                {% if user.is_authenticated %}
                <h1 class="white semi-bold">Witaj {{ user.username }}!</h1>
                <button  class="red" onclick="location.href='{% url 'logout' %}'" class="white">Log out</button>
                {% else %}
                <h1 class="white semi-bold">Witaj niezalogwany użytkowniku!</h1>
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                <button class="white" onclick="location.href='{% url 'home_page' %}'">wydatki</button>
                <button class="white" onclick="location.href='{% url 'categories_list' %}'">kategorie</button>
                <button class="white" onclick="location.href='{% url 'search' %}'">filtruj</button>
                {% else %}
                <button onclick="location.href='{% url 'login' %}'" class="white">login</button>
                <button onclick="location.href='{% url 'register' %}'" class="white">register</button>
                {% endif %}
            </div>
        </header>

        <main id="main">
            <section>
                {% block content %}
                as
                {% endblock %}
            </section>
        </main>
        
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>

    </body>
</html>