{% extends 'main/base.html' %}

{% block content %}
<form class='form' method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn-color' type="submit">Save</button>
</form>
{% endblock %}