{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

<button class="btn-color" onclick="location.href='{% url 'category_new' %}'">+kategoria</button>

{% for category in categories %}
<div class="list-item">
    <div class="top">
        <div>
            <p class="category">{{ category.categoryName }}</p>
        </div>
        <div>
            {% if categories|length > 1 %}
            <button class='btn-icon' onclick="location.href='{% url 'category_remove' category.pk %}'"><img class='icon' src="{% static 'close.png' %}"/></button>
            {% endif %}
            <button class='btn-icon' onclick="location.href='{% url 'category_edit' category.pk %}'"><img class='icon' src="{% static 'edit.png' %}"/></button>
        </div>
    </div>

</div>
{% endfor %}

{% endblock %}