{% extends 'main/base.html' %}

{% load widget_tweaks %}


{% block content %}

<button class="btn-color" onclick="generatePDF()">Generuj raport PDF</button>

<canvas id="myChart" width="400" height="400"></canvas>

<form class='form' method="get">
    {{ "Przychód/Wydatek" }}
    {% render_field filter.form.oppositeSign class='form-field date-field' %}


    <div class="form-field-wrapper">
        <div>
            {{ filter.form.date__gte.label_tag }}
            {% render_field filter.form.date__gte class='form-field date-field' %}
        </div>
        <div>
            {{ filter.form.date__lte.label_tag}}
            {% render_field filter.form.date__lte class='form-field date-field' %}
        </div>
    </div>
    {{ filter.form.date.label_tag}}
    {% render_field filter.form.date class='form-field date-field' %}
    <div class="form-field-wrapper">
        <div>
            {{ filter.form.cost__gte.label_tag}}
            {% render_field filter.form.cost__gte class='form-field date-field' %}
        </div>
        <div>
            {{ filter.form.cost__lte.label_tag}}
            {% render_field filter.form.cost__lte class='form-field date-field' %}
        </div>
    </div>
    {{ filter.form.cost.label_tag}}
    {% render_field filter.form.cost class='form-field' %}
    {{ "Kategoria" }}
    {% render_field filter.form.category class='form-field'%}

    <button class='btn-color' type="submit" onclick="refreshGraph()">Filtruj</button>
</form>
<div class="list-wrapper" id="list-wrapper">
    {% for spending in filter.qs|dictsort:"date" reversed %}
    <div class="list-item">
        <div class="top">
            <div>
                <p class="date">{{ spending.date }}</p>
                <p class="category">{{ spending.category }}</p>
            </div>
            <div>
            </div>
        </div>
        <h3 class="cost">{{ spending.cost }}</h3>
        <p class="comment">{{ spending.comment }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}