{% extends 'main/base.html' %}

{% load widget_tweaks %}

{% block content %}
<form class='form' method="POST">
    {% csrf_token %}
    <div>
        <p>Kategoria</p>
        {% render_field form.category class='form-field category-field' id='category-field' %}
    </div>
    <div>
        <p>Data</p>
        {% render_field form.date class='form-field' %}
    </div>
    <div>
        <p>Koszt</p>
        {% render_field form.cost class='form-field' %}
    </div>
    <div>
        <p>Rodzaj</p>
        <div class='radio'>
            {% for radio in form.oppositeSign %}
<!--            {% if forloop.counter != 1 %}-->
            <label class='container' for="{{ radio.id_for_label }}">
                <p class="small gray">{{ radio.choice_label }}</p>
                {{ radio.tag }}
                <span class="checkmark"></span>
            </label>
<!--            {% endif %}-->
            {% endfor %}
        </div>
    </div>
    <div>
        <p>Komentarz</p>
        {% render_field form.comment class='form-field' %}
    </div>

    <button class="btn-color" type="submit">Save</button>
</form>
{% endblock %}