{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

<button class="btn-color" onclick="location.href='{% url 'spending_new' %}'">+wydatek/przychód</button>

<div class="sum" id="sum">
<h1 class="gray bold">Stan:</h1>
</div>

{% for spending in spendings|dictsort:"date" reversed %}
<div class="list-item">
    <div class="top">
        <div>
            <p class="date">{{ spending.date }}</p>
            <p class="category">{{ spending.category }}</p>
        </div>
        <div>
            <button class="btn-icon" onclick="location.href='{% url 'spending_remove' spending.pk %}'"><img class='icon' src="{% static 'close.png' %}"/></button>
            <button class="btn-icon" onclick="location.href='{% url 'spending_edit' spending.pk %}'"><img class='icon' src="{% static 'edit.png' %}"/></button>
        </div>
    </div>
    <h3 class="cost">{{ spending.cost }}</h3>
    <p class="comment">{{ spending.comment }}</p>
</div>
{% endfor %}
{% if spendings|length == 0 %}
<h3 class="gray semi-bold">Trochę tu pusto :( dodaj coś!</h3>
<img src="">
{% endif %}

{% endblock %}

