{% extends "main/base.html" %}

{% load widget_tweaks %}

{% block content %}




<form class='form form-login' method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2 class="gray regular">Zaloguj się</h2>
    <div>
        <p>Nazwa użytkownika</p>
        {% render_field form.username class='form-field username-field' placeholder='Twój login' %}
    </div>
    <div>
        <p>Hasło</p>
        {% render_field form.password class='form-field' placeholder='Hasło' %}
    </div>
    <div>
        {% if form.errors %}
        <p class="small dark-red">Your username and password didn't match. Please try again.</p>
        {% endif %}
    </div>
    <button class='btn-color' type="submit">login</button>
    <a href="../register/" class="gray center semi-bold">Nie masz konta? Kliknij tutaj</a>
</form>


{% endblock %}