{% extends 'main/base.html' %}

{% load widget_tweaks %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form form-login">
        <h2 class="gray regular">Zarejestruj się</h2>
        <div>
            {{ form.username.label_tag }}
            {% render_field form.username class='form-field username-field' placeholder='Twoja nazwa' %}
        </div>
        <div>
            {{ form.password1.label_tag }}
            {% render_field form.password1 class='form-field username-field' placeholder='Hasło' %}
        </div>
        <div>
            {{ form.password2.label_tag }}
            {% render_field form.password2 class='form-field username-field' placeholder='Powtórz hasło' %}
        </div>
        <div>
            {{ form.captcha.label_tag }}
            {% render_field form.captcha class='form-field captcha-field' placeholder='Kod' %}
        </div>
        <div>
            <p class="small dark-red">{{ form.errors }}</p>
        </div>
        <button class='btn-color' type="submit">Zarejestruj</button>

    </div>
</form>
{% endblock %}